body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.home {
  text-align: center;
  margin-top: 100px;
}

.container {
  width: 95%;
  margin: auto;
  padding: 20px;
}

.form-card,
.table-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

input,
select,
button {
  padding: 12px;
  border-radius: 6px;
}

button {
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background: #333;
  color: white;
}

.edit-btn {
  background: orange;
  color: white;
  margin-right: 10px;
}

.delete-btn {
  background: red;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.active-page {
  background: blue;
  color: white;
}

.auth-container {
  height: 90vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

.auth-card {
  width: 350px;

  background: white;

  padding: 30px;

  border-radius: 10px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-card h2 {
  text-align: center;

  margin-bottom: 20px;
}

.auth-card form {
  display: flex;

  flex-direction: column;

  gap: 15px;
}

.auth-card input,
.auth-card select {
  padding: 12px;

  border: 1px solid #ccc;

  border-radius: 6px;
}

.auth-card button {
  background: blue;

  color: white;

  border: none;

  padding: 12px;

  border-radius: 6px;

  cursor: pointer;
}

.auth-card p {
  text-align: center;

  margin-top: 15px;
}

.auth-card a {
  color: blue;

  text-decoration: none;

  font-weight: bold;
}

.logout-btn {
  background: red;

  color: white;

  border: none;

  padding: 8px 14px;

  border-radius: 5px;

  cursor: pointer;

  margin-left: 15px;
}